.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 10px;
  height: 350px;
  }

  /*fun different hover effects! */
.card:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* box-shadow: 0px 4px 8px 0px rgba(0, 100, 255, 0.5); */
    /* box-shadow: 0px 4px 8px 0px rgba(255, 149, 0, 0.9); */
    text-shadow: 1px 1px 3px rgb(255, 115, 0);
    /* text-shadow: 1px 1px 3px rgb(0, 100, 255); */
    /* background-color: rgba(255, 115, 0, 0.5); */
    /* background-color: rgba(0, 100, 255, 0.5); */
}
  
  /* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

  /* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

  /* For the page sections */
.big_container {
  background-color: rgb(150, 150, 150);
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  margin: 50px 50px;
  padding: 10px
}

body {
  background-color: rgba(0, 100, 155, .5);
}

button {
  margin: 2px;
}